body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
}



.doormain_container {
    max-width: 1200px;
    margin: auto;
    /* overflow: hidden; */
    position: relative;
}

.doormain_container * {
    box-sizing: border-box;
    transition: 3s;
}




.door_container {
    width: 100%;
    padding-top: 76%;
    /* background-color: #131417; */
    transform-style: preserve-3d;
    perspective: 4000px;
    margin: auto;
    position: relative;

}






/******************************
******************************


		浮動框


******************************
*******************************/

:root {
    --door-w: 0.16%;
    --door-h: 0.4%;
    --door-s: 10px;

}


.an_box {
    position: absolute;
    transform-style: preserve-3d;
    animation-name: floating;
    /* animation-duration: 5s; */
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    width: var(--door-w);
    height: var(--door-h);
    background-color: #000000;
}



@keyframes floating {
    0% {
        transform: translate(0, 0) rotateX(0deg) rotateY(0deg);
        ;
    }

    50% {
        transform: translate(0, 5%) rotateX(5deg) rotateY(4deg);
    }

    100% {
        transform: translate(0, 0) rotateX(0deg) rotateY(0deg);
        ;
    }
}







/******************************
******************************


		門的樣式


 ******************************
*******************************/




.door_container .door {
    width: 10000%;
    height: 10000%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0px) rotateX(-20deg) rotateY(20deg);
    transform-style: preserve-3d;
}

.door_container .door .face,
.door_container .door:before,
.door_container a {
    background-color: #c8fdff;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: inherit;
    /* transition: 1.5s; */
    color: #818181;
    font-size: 50px;
    font-family: noto sans;

}




/******************************

		門各層的樣式

*******************************/



/* 門 */
.door_container .door .opener,
.door_container .door a {
    background-color: #242e36;
    border: 2px solid #6af9fd;
    width: 98%;
    height: 98%;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate3d(-3px, -50%, calc(var(--door-s)*0.505)) rotateY(0deg);
}

.door_container .door .opener {
    /* background-color: rgb(180, 180, 180); */
    background-image: url(door_0.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}




.door_container .door a {
    background-color: #29273b;
    /* background-color: #cb131c; */
    transform: translate3d(-4px, -50%, calc(var(--door-s)*0.6)) rotateY(0deg);
    opacity: 0;
    display: none;
}


/* 門正面、門框 */
.door_container .door .front {
    background-color: #1a1a31;
    border: 5px solid #6af9fd;
    transform: translateZ(calc(var(--door-s)*0.5));
    box-shadow: 0 0 120px #6af8fd1d;
}






/************* 厚度 *****************/

.door_container .door .naka_0 {
    background-color: #edf5f9;
    transform: translateZ(calc(var(--door-s)*0.375));
}

.door_container .door .naka_1 {
    transform: translateZ(calc(var(--door-s)*0.25));
}

.door_container .door .naka_2 {
    transform: translateZ(calc(var(--door-s)*0.125));
}

.door_container .door .naka_3 {
    transform: translateZ(0);
}

.door_container .door .naka_4 {
    transform: rotateY(180deg) translateZ(calc(var(--door-s)*0.125));
}

.door_container .door .naka_5 {
    transform: rotateY(180deg) translateZ(calc(var(--door-s)*0.25));
}

.door_container .door .naka_6 {
    transform: rotateY(180deg) translateZ(calc(var(--door-s)*0.375));
}

.door_container .door:before {
    content: '';
    background-color: #29cff0;
    transform: rotateY(180deg) translateZ(calc(var(--door-s)*0.5));
    box-shadow: 0 0 36px #6af8fd4e;
}







/******************************

        門的互動樣式

*******************************/


.door_container .door .opener:hover {
    background-color: #464749;

}

.door_container .p0 .door a {
    display: inline-block;
}


.door_container .p0 .door:hover>.opener {
    background-color: #212124;
    border-top: 6px solid #acfcff;
    border-left: 6px solid #85fbff;
    transform: translate3d(0%, -50%, calc(var(--door-s)*5)) rotateY(20deg);
    box-shadow: 0 0 200px #6af8fd;

}

.door_container .p0 .door:hover>a {
    transform: translate3d(0%, -50%, calc(var(--door-s)*1.6)) rotateY(14deg);
}




/* 臨時 */
.door_container .p0 .door:hover {
    transform: translate3d(-50%, -50%, 800px) rotateX(-20deg) rotateY(10deg) scale(1);
}










/******************************
******************************



		各位置參數 


******************************
*******************************/



.door_container .p0 {
    top: 60%;
    left: 46%;
}

.door_container .p0 .door {
    transform: translate3d(-50%, -50%, 1000px) rotateX(8deg) rotateY(-12deg) scale(1);
}



.door_container .p1 {
    top: 57%;
    left: 67%;
}

.door_container .p1 .door {
    transform: translate3d(-50%, -50%, 900px) rotateX(-6deg) rotateY(10deg) rotateX(-5deg) scale(0.6);
}



.door_container .p2 {
    top: 46%;
    left: 84%;
}

.door_container .p2 .door {
    transform: translate3d(-50%, -50%, 700px) rotateX(-25deg) rotateY(-30deg) scale(0.3);
}



.door_container .p3 {
    top: 25%;
    left: 70%;
}

.door_container .p3 .door {
    transform: translate3d(-50%, -50%, 500px) rotateX(10deg) rotateY(-15deg) scale(0.25);
}



.door_container .p4 {
    top: 20%;
    left: 50%;
}

.door_container .p4 .door {
    transform: translate3d(-50%, -50%, 400px) rotateX(-2deg) rotateY(2deg) scale(0.2);
}



.door_container .p5 {
    top: 20%;
    left: 35%;
}

.door_container .p5 .door {
    transform: translate3d(-50%, -50%, 500px) rotateX(-5deg) rotateY(6deg) scale(0.1);
}



.door_container .p6 {
    top: 35%;
    left: 16%;
}

.door_container .p6 .door {
    transform: translate3d(-50%, -50%, 500px) rotateX(4deg) rotateY(2deg) scale(0.2);
}



.door_container .p7 {
    top: 54%;
    left: 26%;
}


.door_container .p7 .door {
    transform: translate3d(-50%, -50%, 800px) rotateX(-10deg) rotateY(1deg) scale(0.6);
}





/***************************************
******************************************



            Button



******************************************
*****************************************/



.doormain_container .door_btns {
    /* background-color: #3d3c3c; */
    width: 100%;
    height: 25%;
    padding: 1% 18%;
    margin: 0 auto;
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.doormain_container .door_btns>div {
    /* background-color: #fff; */
    width: 24%;
    height: 48%;
    padding: 6px;
}

.doormain_container .door_btns .door_arr {
    background-color: #2c2e35;
    width: 48px;
    height: 48px;
    position: absolute;
    border-radius: 50%;
}

.doormain_container .door_btns .door_arr.last {
    left: 5%;
}

.doormain_container .door_btns .door_arr.next {
    right: 5%;
}

.doormain_container .door_btns .door_btn {
    width: 100%;
    height: 100%;
    background-color: #222227;
    border-radius: 8px;
}



@media (max-width: 768px) {
    .doormain_container .door_btns>div {
        width: 25%;
        height: 50%;
        padding: 6px;
    }
}

@media (max-width: 480px) {
    .doormain_container .door_btns>div {
        width: 50%;
        height: 100%;
        padding: 6px;
    }
}









/***************************************
******************************************



            Modifier tool



******************************************
*****************************************/
.mouse-link {
    cursor: pointer;
}

.hidden {
    display: none !important;
}