/******************************
			import
*******************************/
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);


/******************************
			Page
*******************************/

* {
    position: relative;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Noto sans TC", "Microsoft JhengHei ", "微軟正黑體", sans-serif;
    font-weight: 100;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

:root {
    --pri-color: #094576;
    --pri-bg-color: #08375E;
    --sec-color: #008CFF;
    --ter-color: #85C12F;
    --bg-color-03: #CDCDCD;
    --bg-color-04: #E4E4E4;
    --bg-color-05: #F5F5F5;
    --bg-color-06: #FAFAFA;
    --text-color: #5A5A5A;
    --warn-color: #EA0F0F;
}


/******************************
			layout
*******************************/

.container {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color-03);
    display: flex;
    flex-direction: column
}


.row {
    display: flex;
    flex-wrap: wrap;
}

.row>* {
    /* padding: 0 8px; */
}

.row.space>* {
    padding: 0 8px;
}

.flex-align-c {
    align-items: center;
}

.flex-jus-c {
    justify-content: center;
}

.flex-dir-c {
    flex-direction: column
}

.col {
    flex: 1 0 0%;
}

.col-1 {
    width: 8.33333333%;
}

.col-2 {
    width: 16.66666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333333%;
}

.col-5 {
    width: 41.66666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333333%;
}

.col-8 {
    width: 66.66666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333333%;
}

.col-11 {
    width: 91.66666667%;
}

.col-12 {
    width: 100%;
}



@media only screen and (max-width: 1200px) {}

@media (max-width: 1024px) {
    .col-md-1-1 {
        width: 100%;
    }

    .col-md-1-2 {
        width: 50%;
    }

    .col-md-1-3 {
        width: 33.33333333%;
    }

    .col-md-2-3 {
        width: 66.6666666%;
    }

    .md-hidden {
        visibility: hidden;
        height: 0;
    }
}

@media (max-width: 768px) {
    .col-sm-1-1 {
        width: 100%;
    }

    .col-sm-1-2 {
        width: 50%;
    }

    .col-sm-1-3 {
        width: 33.33333333%;
    }

    .col-sm-2-3 {
        width: 66.6666666%;
    }

    .sm-hidden {
        visibility: hidden;
        height: 0;
    }
}

@media (max-width: 480px) {
    .col-xs-1-1 {
        width: 100%;
    }

    .col-xs-1-2 {
        width: 50%;
    }

    .xs-hidden {
        visibility: hidden;
        height: 0;
    }
}





/******************************
            Guildline
*******************************/


h1,
h2,
h3 {
    color: var(--pri-color);
    letter-spacing: 1.6px;
}


h1 {
    font-size: 18px;
    font-weight: 700;
}

h2 {
    line-height: 1.168em;
    font-size: 26px;
    font-weight: 650;
    margin: 0;
}



h3 {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin: 0;
}

p {
    font-size: 14px;
    color: #555;
    letter-spacing: 0.8px;
    /* line-height: 25px; */
    margin: 8px 0;
}

/******************************************


		Module
            header
            Main sidebar
            Files explorer
            Edit area


*******************************************/


/******************************************

    header

*******************************************/
header {
    width: 100%;
    height: 64px;
    background-color: #fff;
    box-shadow: 0 2px 0 #00000010;
    z-index: 1000;
}

header .product_name {
    flex: 1 1 0;
}

header .product_name h1 {
    margin: 0 0 4px 0;
}

header .tools {}



/******************************************

    Main sidebar

*******************************************/

.sidebar {
    background-color: var(--pri-bg-color);
    min-width: 240px;
}

/******************************************

    Files Explorer

*******************************************/


.files_exp {
    background-color: var(--bg-color-05);
    border-right: 2px solid var(--bg-color-04);
    width: 0;
}

.files_exp.open {
    min-width: 220px;
    width: auto;
}

/******************************************

    Edit area
    
*******************************************/


.edit_area {}

.bar-mode {}

.bar-mode .mask {
    position: absolute;
    left: 0;
    flex-wrap: nowrap;
    padding: 0 24px;
}

.bar-mode .tool_btn.arrive {
    position: absolute;
    z-index: 100;
    background-color: var(--bg-color-06);
}

.page_tabs.bar-mode .tool_btn.arrive {
    background-color: var(--bg-color-03);
    padding: 2px;
}



.bar-mode .arrive.left {
    left: 0;
}

.bar-mode .arrive.right {
    right: 0;
}

.bar-mode.non-scroll .mask {
    padding: 0 4px;
}

.bar-mode.non-scroll .arrive {
    display: none;
    opacity: 0;
}

/* File Tab */

.edit_area .page_tabs {
    padding: 8px 0 0 0;
    height: 36px;
    overflow: hidden;
}

.edit_area .page_tabs .tab {
    font-size: 14px;
    font-weight: normal;
    padding: 6px 12px 6px 12px;
    min-width: 160px;
    border-radius: 8px 8px 0 0;
    margin-right: 8px;
}

.edit_area .page_tabs .tab.active {
    background-color: var(--bg-color-06);
}

.edit_area .page_tabs .tab::after {
    content: '';
    background-image: url(../image/icon_x.png);
    position: absolute;
    right: 8px;
    display: inline-block;
    width: 16px;
    height: 16px;
    opacity: 0;
    transition: 0.4s;
}

.edit_area .page_tabs .tab.active::after {
    opacity: 0.5;
}

.edit_area .page_tabs .tab:hover::after {
    opacity: 1;
}

.edit_area .page_tabs .tab:hover {
    background-color: var(--bg-color-06);
}


/* Tool Bar */

.edit_area .tools {
    height: 60px;
    width: 100%;
    background-color: var(--bg-color-06);
    border-bottom: 2px solid var(--bg-color-04);
    overflow: hidden;
}


.edit_area .tool_btn {
    flex-wrap: nowrap;
    padding: 14px;
    font-weight: normal;

    background-color: #ebebeb00;
    transition: 0.4s
}


.edit_area .tool_btn:hover {
    background-color: #ebebeb;
}


.edit_area .tool_btn span {
    margin: 0 4px;
    white-space: nowrap;
}

.edit_area span.text-u::after {
    content: '';
    display: inline-block;
    background-color: #2FC38C;
    position: absolute;
    bottom: -6px;
    right: 0;
    height: 2px;
    width: 100%;
}

.edit_area span.text-u.yellow::after {
    background-color: #E5D601;
}

.edit_area .div {
    width: 2px;
    background-color: var(--bg-color-04);
    padding: 0;
    margin: 8px 4px;
}



/* Page container */

.edit_area .page_container {
    height: 0;
    flex-grow: 1;
    overflow: auto;
}


.edit_area .page_container .pagebox {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    max-width: 1200px;
    min-width: 540px;
    min-height: 540px;

}

.edit_area .page_container .page {
    margin: 24px 16px;
    padding: 16px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.227);
}

@media (max-width: 1250px) {
    .edit_area .page_container .page {
        width: 90%;
    }
}

@media (max-width: 830px) {
    .edit_area .page_container .page {
        left: 0;
        transform: translate(0, 0);
    }
}


.edit_area .page_container .page textarea {
    border: none;
    resize: none;
    width: 100%;
    height: 100%;
    overflow: visible;
}


.edit_area .page_container .page textarea:focus-visible {
    outline: 2px solid #fff;
}



/* Page footer */

.edit_area .footer {
    height: 32px;
    background-color: var(--bg-color-05);
    border-top: 2px solid var(--bg-color-04);
    overflow: hidden;
}




/******************************
            Modifier tool
*******************************/
.h-100 {
    height: 100% !important;
}

.mb-xl {
    margin-bottom: 128px !important;
}

.mb-lg {
    margin-bottom: 64px !important;
}

.mb-md {
    margin-bottom: 32px !important;
}

.mb-sm {
    margin-bottom: 16px !important;
}

.mb-xs {
    margin-bottom: 8px !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mr-xs {
    margin-right: 6px !important;
}



.p-0 {
    padding: 0 !important;
}

.pr-xs {
    padding-right: 6px !important;
}

.pl-xs {
    padding-left: 6px !important;
}


.prl-xs {
    padding-right: 6px !important;
    padding-left: 6px !important;
}

.prl-xxs {
    padding-right: 4px !important;
    padding-left: 4px !important;
}

.prl-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}




.dashed {
    border: 0.5px dashed #ddd;
}