.work_load01{
	background-color: #FE8C8C;
}
.work01{
	background-color: #ddd;
}





.work03{
	background-image: url("../picture/000/003.svg");
	background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
}
.work04{
	background-image: url("../picture/000/004.png");
	background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
}
.work05{
	background-image: url("../picture/000/005.svg");
	background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
}

.work06{
	background-image: url("../picture/000/006.png");
	background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
}

.work07{
	background-image: url("../picture/000/007.png");
	background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
}