.work_load01{
	background-color: #FE8C8C;
}
.work01{
	background-image: url("../picture/000/001.png");
	background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
}

.work02{
	background-image: url("../picture/000/002.png");
	background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
}
.work03{
	background-image: url("../picture/000/003.svg");
	background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
}
.work04{
	background-image: url("../picture/000/004.png");
	background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
}
.work05{
	background-image: url("../picture/000/005.svg");
	background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
}

.work06{
	background-image: url("../picture/000/006.png");
	background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
}

.work07{
	background-image: url("../picture/000/007.png");
	background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
}

.work08{
	background-image: url("../picture/008_ludo/001.jpg");
	background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
}

.work09{
	background-image: url("../picture/000/009.svg");
	background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
}

.work10{
	background-image: url("../picture/000/010.png");
	background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
}
