.work_load01{
	background-color: #FE8C8C;
}
.work01{
	background-image: url("../picture/000/001.png");
	background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
}

.work02{
	background-image: url("../picture/000/002.png");
	background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
}
.work03{
	background-image: url("../picture/000/003.svg");
	background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
}
.work04{
	background-image: url("../picture/000/004.png");
	background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
}
.work05{
	background-image: url("../picture/000/005.svg");
	background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
}

.work06{
	background-image: url("../picture/000/006.png");
	background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
}

.work07{
	background-image: url("../picture/000/007.svg");
	background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
}

.work08{
	background-image: url("../picture/008_ludo/001.jpg");
	background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
}

.work09{
	background-image: url("../picture/000/009.svg");
	background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
}
.work09-1{
	position: absolute;
	top: 16px;
	left:16px; 
	height: 35px;
}

.work10{
	background-image: url("../picture/000/010.png");
	background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
}


.work_me{
	background-image: url("../picture/000/me-1.png");
	background-repeat: no-repeat;
    background-position: center; 
    /*background-size:cover;*/
    background-attachment: fixed;
}

.work_me-1{
	background-image: url("../picture/000/me-1.png");
	/*background-repeat: no-repeat;*/
    background-position: center; 
    /*background-size:cover;*/
    background-attachment: fixed;
    height: 400px;

}


/*------------ABOUT---*/

.ab_h1{
	font-weight: 400;font-size: 14px;
	letter-spacing: 3.5px;
}
.p_line{
	line-height: 2px;
}
.p_line4{
	line-height: 5px;
}

.aboutbox{
	border: 1px solid #999;
	border-radius: 5px;
	padding:1px 18px;
	display: inline-block;
	transition: .3s;
	opacity: .7;
}
.aboutbox:hover{
	opacity: 1;
}