/******************************
		Guildeline.css index
		atoms
			font (h1~h6 p)
			bottom
			picture box

		organisms
			artcle-card
			navbar
			sidebar
			sidebar-artcle-card
			footer

*******************************/




/******************************

		font  (h1~h6 p)

*******************************/

h1,h2,h3,h4,h5,h6,p {
	font-family: "Noto sans TC", "微軟正黑體", "Microsoft JhengHei ", sans-serif;
	margin: 0;
	letter-spacing: 0.09em;
	line-height: 1.168em;}
h1,h2 {
	font-size: 33px;
	line-height: 1.36em;
	margin-bottom: 12px;
	font-weight: 500;}

h3 {font-size: 17px;
	color: #151718;
	font-weight: 400;
	line-height: 1.268em;
	transition: .3s}
	h3.sm {font-size: 14.5px;}
	h3:hover {color: #2FB0B3;}

h4 {color: #151718;}
	h4:hover {color: #2FB0B3;}

h5 {font-size: 28px;
	color: #135A5D;
	font-weight: 600;}

h6 {font-size: 14px;
	color: #075457;
	font-weight: 600;
	transition: .6s}
	h6:hover {color: #2FB0B3;}

p {color: #232626;
	font-size: 14px;
	letter-spacing: 0.07em;
	line-height: 1.36em;}

p.date {
	font-size: 10px;
	color: #668B8D;
	letter-spacing: 0.005em;
	font-weight: 500;}

a.tag {
	font-size: 10px;
	color: #FFF;
	font-weight: 300;
	letter-spacing: 0.08em;
	background-color: #668B8D;
	opacity: .85;
	display: inline-block;
	padding: 3px 10px 3px 10px;
	border-radius: 5px;
	transition: all ease-out .5s}
a.tag:hover {
	background-color: #2FB0B3;
	opacity: 1;}


/******************************

		top

*******************************/

.go_top{
	position:fixed;
	right: 5%;
	bottom: 5%;
	background-image: url(../picture/01_icon/arr_top.svg);
	background-size: cover;
	background-position: center;
	width: 28px;
	height: 28px;	
}



/******************************

		title

*******************************/
/* ****************
	.title_bar
*******************/
.title_bar {}
	.title_bar .textbox {
		margin: 4px 0 0 8px;
		z-index: 800;}
	.title_bar .box {transform: translateY(-14px);}
	.title_bar .box .b1,.title_bar .box .b2,.title_bar .box .b3 {
		display: inline-block;
		background-color: #B7C2C2;
		opacity: .15;
		height: 32px;
		margin-left: 16px;}
	.title_bar .box .b1 {width: 54%;margin-left: 0px;}
	.title_bar .box .b2 {width: 12%;}
	.title_bar .box .b3 {width: 5%;}

/* ****************
	.title_Column
*******************/
.title_Column {}
	.title_Column .pic_box,.title_Column .col-1-2,
	.title_Column .pic_box,.title_Column .col-5-12,
	.title_Column .pic_box,.title_Column .col-7-12{
		height: 375px;
		background-size: cover;
		background-position: center;}
	
	.title_Column .pic_box.lg,.title_Column .lg {height: 545px;}
	.title_Column .col-1-2.pad0 {padding: 0 0px 0 8px;}
	.title_Column .textbox {
		width: 80%;
		position: absolute;
		top: 50%;
		transform: translate(-20%, -55%);}
		.title_Column .textbox.w100{
			width: 115%;
			transform: translate(-25%, -55%);
		} 
		.title_Column .textbox.lg {width: 90%;}
		.title_Column .textbox h5 {
			font-size: 48px;
			font-weight: 750;
			letter-spacing: 0.005em;
			transform: translate(44px, 45%);
			z-index: 100;}
		.title_Column .textbox h5.h01 {color: #519786;}
		.title_Column .textbox h5.h02 {color: #33B3C2;}
		.title_Column .textbox h5.h03 {color: #135A5D;
			font-size: 40px;
			transform: translate(100px, 35%);}
		.title_Column .textbox .p_box {
			display: block;
			width: 100%;
			padding: 65px 44px;
			background-color: rgba(183, 194, 194, .16);}
			.title_Column .textbox .p_box.white {
				background-color: rgba(255, 255, 255, 0.85);}
			.title_Column .textbox .p_box.white2 {
					background-color: rgba(255, 255, 255, 0.4);}
			.title_Column .textbox .p_box h6 {
				color: #232626;
				font-size: 24px;
				padding: 10px 0;}
	@media (max-width: 1024px) {
		.title_Column .textbox.phone {
			width: 100%;
			transform: translate(-10%, -55%);}
			.title_Column .textbox h5.h03 {transform: translate(60px, 50%);}}
	@media (max-width: 768px) {
		.title_Column .textbox.phone {
			width: 80%;
			right: 90%;
			transform: translate(100%, -180px);}
		.title_Column .textbox .p_box {padding: 35px 24px;}
		.title_Column .pic_box,.title_Column .col-1-2 {height: 300px}
		.title_Column .pic_box.lg,.title_Column .col-1-2.lg {height: 375px;}
		.title_Column .textbox h5.h03 {transform: translate(20px, 35%);}}
		@media (max-width: 450px) {
			.title_Column .textbox h5.h03 {font-size: 26px;
				transform: translate(20px, 55%);}}	



/******************************

		line

*******************************/

	.line {
			border-top: 1px solid #2FB0B3;
			border-bottom: 1px solid #2FB0B3;				
			width: 6px;
			position: absolute;
			top: 50%;
			display: block;
			height: 95%;
			opacity: .5}
	.line.l {
			transform: translate(-8px, -50%);
			left: 0%;
			border-left: 1px solid #2FB0B3;}
	.line.r {
			transform: translate(8px, -50%);
			right: 0%;
			border-right: 1px solid #2FB0B3;}
	



/******************************

		bottom

*******************************/
.btn {
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 2px;
	border-radius: 20px;
	transition: all 0.3s;}

.btn.type01 {
	position: relative;
	left: 100%;
	transform: translateX(-100%);
	color: #2FB0B3;
	z-index: 1000;}
	.btn.type01:hover {
		color: #FFD064;}

.btn.type02 {
	color: #fff;
	font-size: 13px;
	padding: 8px 20px;
	background-color: #2FB0B3;
	border: 2px solid #2FB0B3;
	box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, .05);}
	.btn.type02.sm {
		color: #fff;
		font-size: 11px;
		padding: 6px 16px;}
	.btn.type02:hover {
		color: #2FB0B3;
		background-color: rgba(255, 208, 100, 0);
		border: 2px solid #2FB0B3;
		box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, .1);}
	.btn.type02:active {box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .25);}







/******************************

			picture box

*******************************/

.imgbox-lg,.imgbox-md,.imgbox-sm,.imgbox-lgmd {
	background-color: #aaa;
	background-size: cover;
	background-position: center;}

.imgbox-lg {height: 550px;}
.imgbox-lgmd {height: 294px;}
.imgbox-md {height: 196px;}
.imgbox-sm {height: 120px;}

.imgbox-zoom {
	transition: all cubic-bezier(.05, 0.2, 0.01, 1) 5s;
	transform: scale(1);}
.imgbox-zoom:hover {transform: scale(1.05);}

.imgbox-zoom_2 {
	transition: all cubic-bezier(0.1, 0.2, 0.01, 1) 15s;
	transform: scale(1);}
.imgbox-zoom_2:hover {transform: scale(1.05);}

@media only screen and (max-width: 1200px) {
	.imgbox-lg {
		height: 350px;
		margin-bottom: 200px;}}
@media only screen and (max-width: 600px) {
	.imgbox-lg {
		height: 280px;
		margin-bottom: 270px;}}
@media only screen and (max-width: 480px) {
	.imgbox-lgmd {
		height: 196px;}}

.ad_box {}
	.ad_box .a5 {
		left: 50%;
		transform: translateX(-50%);
		margin: 52px 0 52px 0;}
	@media only screen and (max-width: 1200px) {
		.ad_box .a5 {width: 100%}}





/******************************
				
				card
				
*******************************/
.card_01 {
	height: 368px;
	margin-bottom: 16px;
	overflow: hidden;
	box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, .035), -3px 1px 8px rgba(19, 90, 93, 0.02);
	border-radius: 1px;
	transition: 1s}
	.card_01:hover {box-shadow: 2px 2px 21px -4px rgba(0, 0, 0, .05), -3px 1px 15px rgba(19, 90, 93, 0.06)}
	.card_01 .textbox {
		height: 174px;
		background-color: #fff;
		padding: 12px;}
	.card_01 h6 {padding-bottom: 8px;}

	.card_01 p.date,.card_01 .tagbox {
		position: absolute;
		bottom: 14px;}
	.card_01 p.date {left: 12px;}
	.card_01 .tagbox {
		right: 12px;
		margin-left: 90px;
		text-align: right;}
	.card_01 .tagbox .tag {margin-top: 4px;}

	.card_01.sm {height: 352px;}
	.card_01.sm .textbox {height: 158px;}

	.card_01.xl {height: 650px;}
		.card_01.xl h3 {
			font-size: 22px;
			letter-spacing: 0.05em;
			padding-bottom: 18px;}
		.card_01.xl .textbox {height: 357px;}
		.card_01.xl .textbox .content p {font-size: 15px;}
	@media (max-width: 480px) {
		.card_01.xl {height: 388px}
		.card_01.xl h3 {
			font-size: 17px;
			letter-spacing: 0.09em;
			padding-bottom: 0px;}
		.card_01.xl .textbox {height: 194px;}
		.card_01.xl .textbox .content {display: none;}}

.card_02 {
	height: 120px;
	margin-bottom: 25px;
	overflow: hidden;}
	.card_02 .picbox {
		width: 120px;
		display: inline-block;}
	.card_02 .textbox {
		background-color: rgba(250, 250, 250, .75);
		padding: 12px 26px 12px 10px;
		border-radius: 2px;
		position: absolute;
		top: 60px;
		left: 95px;
		transition: .25s;
		transform: translate(25px, -50%);}
	.card_02 .textbox:hover {
		background-color: rgba(250, 250, 250, 1);
		transform: translate(25px, -50%) scale(1.01);}

.card_03 {
	height: 340px;
	background-color: #aaa;
	background-size: cover;
	background-position: center;}
	.card_03 a {display: inline-block;}
	.card_03 .textbox {
		position: absolute;
		left: 50%;
		bottom: 18px;
		transform: translateX(-50%);
		width: 85%;
		background-color: rgba(255, 255, 255, .88);
		padding: 18px 20px;
		border-radius: 2px;
		transition: .8s}
	.card_03 .textbox h4 {
		font-weight: 400;
		transition: .3s}
	.card_03_session .u-over_hidden {margin-top: 16px;}
	.card_03_session .imgbox-zoom {transition: all cubic-bezier(.05, 0.2, 0.01, 1) .8s;}
	.card_03_session .imgbox-zoom:hover {transform: scale(1.02);}
	.card_03 .textbox:hover {background-color: rgba(255, 255, 255, .98);}
	.card_03:hover>.textbox h4 {color: #2FB0B3;}
	.card_03:hover>.textbox {transform: translateX(-50%) scale(0.975);}
	@media (max-width: 768px) {
		.card_03_session {transform: translateY(-50px);}}
	@media (max-width: 440px) {
		.card_03_session {transform: translateY(-10px);}}
	@media (max-width: 350px) {
		.card_03_session {transform: translateY(30px);}}

.card_04_session {
	background-color: rgba(183, 194, 194,.1);
	height: 230px;}
	.card_04_session .cardbox {
		width: 88%;
		left: 50%;
		transform: translateX(-50%);}
	.card_04_session .card_04 {
		height: 360px;
		width: 100%;
		margin-bottom: 16px;
		background-color: #fff;
		box-shadow: 2px 2px 21px -4px rgba(0, 0, 0, .05);
		transform: translateY(-172px);
		border-radius: 2px;}
	.card_04 h4,.card_04 .picbox,.card_04 p,.card_04 .tagbox {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 91%;}
		.card_04 h4 {top: 152px;}
		.card_04 .picbox {
			left: 12px;
			transform: translateX(0%);
			top: 12px;
			height: 128px;
			width: 65%;
			background-size: cover;
			background-position: center;
			transform: translateX(0%) scale(1);
			transition: 1s}
		.card_04 p {
			color: #555;
			top: 220px;
			font-size: 13px;
			transition: .2s;
			letter-spacing: 0.01em}
		.card_04 .tagbox {bottom: 16px;}
		.card_04 .u-block:hover>h4 {color: #2FB0B3}
		.card_04 .u-block:hover>p {color: #000}
		.card_04 .u-block:hover>.picbox {transform: translateX(.8%) scale(1.01);}
	@media (max-width: 1200px) {
		.card_04_session .cardbox {width: 98%;}}
	@media (max-width: 1024px) {
		.card_04_session .cardbox {width: 75%;}
		.card_04_session {height: 600PX}}
	@media (max-width: 768px) {
		.card_04_session {background-color: #fff;}
		.card_04_session .card_04 {transform: translateY(-50px);}
		.card_04_session {height: 100PX}
		.card_04_session .cardbox {width: 88%;}}
	@media (max-width:480px) {
		.card_04_session .card_04 {transform: translateY(0px);}
		.card_04_session .cardbox {width: 95%;}
		.card_04_session .card_04 {box-shadow: 2px 2px 21px -4px rgba(0, 0, 0, .1);}
		.card_04_session .card_04.last {margin-bottom: 98px;}}






/******************************

				navbar

*******************************/

.padding_header {padding-top: 127px;}

header {
	height: 15%;
	width: 100%;
	position: fixed;
	z-index: 5000;
	padding-right: 36px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+55,ffffff+100&1+0,0.7+55,0+100 */
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.7) 55%, rgba(255, 255, 255, 0) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.7) 55%, rgba(255, 255, 255, 0) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.7) 55%, rgba(255, 255, 255, 0) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
	/* IE6-9 */}
header .fixed {
	max-width: 1344px;
	left: 0%;
	height: 100%;}

.navbar {
	float: left;
	width: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	padding: 39px 0 10px 0;
	margin: 0 50px 0 0;
	color: #606060;}

/*****************logo****************/
.navbar .logo {
	float: left;
	left: 4px;}

/*****************menu****************/
.navbar .hamberger,
	.navbar .xx {
		height: 32px;
		width: 32px;
		background-image: url(../picture/01_icon/hambuer.png);
		position: fixed;
		opacity: .8;
		border-radius: 6px;
		z-index: 6000;
		left: 0px;
		top: 33px;
		visibility: hidden;}
	.navbar .xx {
		top: 26px;
		background-image: url(../picture/01_icon/x.png);}
	.navbar .hamberger:active {
		background-color: #2FB0B3;}
		.navbar .menu {
			position: absolute;
			bottom: 13px;
			right: 46.5%;
			background-color: rgba(255, 255, 255, 0);
			transform: translate(45%, -85%);}
		.navbar .menu .main {
			float: left;
			padding: 0 3px 0 3px;}
			.navbar .menu .main.xs {padding: 0 3px 0px 3px;}
			.navbar .menu .main.s {padding: 0 3px 0px 3px;}
			.navbar .menu .main.xl {padding: 0 3px 0px 3px;}
			.navbar .menu .main.xxl {padding: 0 3px 0px 3px;}
			.navbar .menu .main a {
				color: #606060;
				padding: 10px;
				font-size: 16px;
				transition: 0s;
				letter-spacing: 0.02em;}
				.navbar .main .active{ 
					border-bottom: 1px solid #2FB0B3;
					/* margin: -20px 0px; */
					font-weight: 600}
				.navbar .menu span {
				position: absolute;
				left: 0px;
				top: 0px;
				letter-spacing: 0.2em;
				opacity: 0;
				transition: .25s;}
			.navbar .menu .sm {padding: 12px 19% 12px 19%;}
			.navbar .menu .xs {padding: 12px 20% 12px 23%}
			.navbar .menu .md {padding: 12px 22% 12px 25%}
			.navbar .menu .lg {padding: 12px 29% 12px 29%;}
			.navbar .menu .main .a:hover {
				visibility: hidden;
				color: #fff;}
			.navbar .menu span:hover {
				color: #2FB0B3;
				opacity: 1;
				visibility: visible;}
			.navbar .menu .main ul {
				padding: 10px 12px 10px 12px;
				width: 185px;
				border-radius: 4px;
				background-color: rgba(255, 255, 255, .95);
				position: absolute;
				left: 50%;
				top: 22px;
				/* transition: .5s; */
				transform: translate(-50%, -2.5%);
				opacity: 0;
				visibility: hidden;}
			.navbar .menu .main li {
				padding: 8px;
				text-align: center;
				border-bottom: 1px solid rgba(200, 200, 200, .20);
				border-top: 1px solid rgba(200, 200, 200, .20);}
			.navbar .menu .main li a {
				font-size: 14px;
				padding: 2px;}
			.navbar .menu .main li a:hover {color: #2FB0B3;}
			.navbar .menu .main:hover>ul {
				visibility: visible;
				opacity: 1;
				transform: translate(-50%, 0%);}


/******************icon bar******************/
.navbar .icon {
	position: absolute;
	bottom: 12px;
	right: 0;
	transform: translateY(-25%);}
	.navbar .icon div {display: inline-block;}
	.navbar .icon img {
		opacity: .7;
		transition: .4s;}
	.navbar .icon img:hover {opacity: .9;}

	.navbar .icon ul{
		padding: 10px 12px;
		width: 120px;
		border-radius: 4px;
		background-color: rgba(255, 255, 255, .95);
		position: absolute;
		top: 22px;
		transition: .5s;
		transform: translate(-44px, -2.5%);
		visibility: hidden;
		opacity: 0;}
		.navbar .icon li {
			padding: 8px;
			text-align: center;
			border-bottom: 1px solid rgba(200, 200, 200, .20);
			border-top: 1px solid rgba(200, 200, 200, .20);}
		.navbar .icon li a {
			font-size: 14px;
			padding: 2px;
			color: #606060;
			padding: 10px;
			transition: .5s;
			letter-spacing: 0.02em;}	
		.navbar .icon div:hover >ul{
			transform: translate(-44px, 4%);
			visibility: visible;
			opacity: 1;}
		.navbar .icon li a:hover{color: #2FB0B3;}



/*search bar*/
.navbar .searchbox {
	position: absolute;
	right: 152px;
	bottom: 20.5px}
	.navbar .searchbox label img.m {visibility: visible;}
	.navbar .searchbox label img.xl {visibility: hidden;}
	.navbar label {
		position: absolute;
		bottom: 0;
		right: 0;
		display: inline-block;
		background-color: #fff;
		padding: 4px 28px 4px 12px;
		transition: all .3s ease;
		border-radius: 5px;
		box-shadow: 0px 0px 4px rgba(150, 150, 150, 0.05);}
	.navbar label::after {
		content: '';
		display: block;
		height: 1px;
		width: 95%;
		background-color: #2FB0B3;
		transition: all .5s ease 0.5s;}
	.navbar label input {
		transition: width .5s ease, opacity 0.2s ease 0.2s;
		opacity: 1;
		width: 80px;
		height: 25px;
		border: 0;
		outline: none;
		color: #2FB0B3;}
	.navbar label img {
		position: absolute;
		top: 4.8px;
		right: 1px;
		cursor: pointer;}
	.navbar label[data-state="close"] {
		border-radius: 30px;
		padding: 4px 4px;
		transition: all .5s ease;
		background-color: rgba(255, 255, 255, 0);
		box-shadow: .5px .5px 6px rgba(0, 0, 0, 0);}
	.navbar label[data-state="close"]::after {
		width: 0%;
		transition: all 0.2s ease;}
	.navbar label[data-state="close"] img {pointer-events: none;}
	.navbar label[data-state="close"] input {
		width: 85px;
		height: 25px;
		transform: translateX(30%);
		opacity: 0;
		cursor: pointer;
		transition: opacity 0.5s ease, width .5s ease;
		-webkit-appearance: none;}

/******************************
	RWD
	laptop/pc     1440px
	laptop        1200px
	pad           1024px
	pad/phone     768px
	phone         480
	*******************************/
@media only screen and (max-width: 5440px) {
	header .fixed {max-width: 1184px;}
	.navbar .menu {right: 45.5%;}}
@media only screen and (max-width: 1440px) {
	header .fixed {max-width: 1172px;}}
@media only screen and (max-width: 1200px) {
	header .fixed {max-width: 992px;}

	.navbar {
		height: 100%;
		padding: 26px 0 10px 0;}
	.navbar .hamberger,
	.navbar .xx {visibility: visible;}

	/*.navbar .hamberger.xx{ visibility: hidden;}*/
	.navbar .logo {
		left: 50%;
		transform: translateX(-50%);}

	/*.navbar .humger_menubox*/
	.navbar .menu {
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		transform: translate(-2%, 0%);
		width: 450px;
		height: 666.66%;
		padding: 95px 20px 30px 6px;
		overflow-y: auto;
		overflow-x: hidden;
		background-color: rgba(255, 255, 255, .98);}
		.navbar .menu .main,.navbar .menu .main.s {
			width: 100%;
			padding: 0 0px 75px 0px;}
		.navbar .menu .main.xs {padding: 0 0px 35px 0px;}
		.navbar .menu .main.s {padding: 0 0px 90px 0px;}
		.navbar .menu .main.xl {padding: 0 0px 120px 0px;}
		.navbar .menu .main.xxl {padding: 0 0px 150px 0px;}
		.navbar .menu .main .a {
			color: #2FB0B3;
			font-weight: 500;}
		.navbar .menu .main .a:hover {
			visibility: visible;
			opacity: 1;
			color: #000;}
		.navbar .menu span {
			position: relative;
			opacity: 0;}
		.navbar .menu span:hover {
			opacity: 0;
			visibility: visible;}
		.navbar .menu .sm,
		.navbar .menu .xs,
		.navbar .menu .md,
		.navbar .menu .lg {padding: 0 8px 0 8px;}
		.navbar .menu .main a {
			color: #606060;
			padding: 0;
			font-size: 16px;
			transition: 0s;
			border: 1px solid #2FB0B3;
			letter-spacing: 0.02em;}
			.navbar .main ul {
			background-color: rgba(255, 255, 255, 0);
			top: 16px;
			left: -16px;
			width: 380px;
			opacity: 1;
			transform: translateY(0%);
			visibility: visible;}
		.navbar .main li {
			float: left;
			width: 29%;
			padding: 6px 8px 0px 3px;
			text-align: left;
			border-bottom: 1px solid rgba(200, 200, 200, 0);
			border-top: 1px solid rgba(200, 200, 200, 0);}
			.navbar .main li.xs {width: 22%;}
			.navbar .main li.s {width: 28%;}
			.navbar .main li.l {width: 50%;}
			.navbar .main li.xl {width: 80%;}
			.navbar .main li a {font-size: 13px;}
			.navbar .main li a:hover {color: #222;}
		.navbar .main:hover>ul {
			visibility: visible;
			opacity: 1;
			transform: translateY(0%);}
	.navbar .icon.phone {
		display: none;
		position: absolute;
		top: 0px;
		left: 0px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+55,ffffff+100&1+0,0.7+55,0+100 */
		background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0.8) 80%, rgba(255, 255, 255, 0) 100%);
		/* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0.8) 80%, rgba(255, 255, 255, 0) 100%);
		/* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0.8) 80%, rgba(255, 255, 255, 0) 100%);
		/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
		/* IE6-9 */
		margin: 0 -4px;
		padding: 28px 20px 10px 46px;
		transform: translate(0%, 0%);}
	.navbar .icon img {opacity: .7;}

	.navbar .searchbox {
		position: relative;
		right: 10px;
		top: 38px;}
		.navbar .searchbox label img.m {visibility: hidden;}
		.navbar .searchbox label img.xl {visibility: visible;}
		.navbar label {
			padding: 4px 28px 24px 12px;
			margin: 0 0 -20px 0}
		.navbar label[data-state="close"] {
			padding: 4px 28px 24px 12px;
			margin: 0 0 -20px 0}
		.navbar label input {
			width: 160px;
			height: 25px;}
		.navbar label::after {height: 0px;}}

@media (max-width: 700px) {
	.navbar label input {width: 100px;}}
@media (max-width: 480px) {
	.navbar label input {width: 270px;}
	.navbar .logo {transform: translateX(-50%) scale(0.7);}
	.navbar .menu {width: 108%;}
	.navbar .icon {left: 88%;}
	.navbar .searchbox {left: 0;}}
@media (max-width: 400px) {
	.navbar label input {width: 240px;
	}}
@media (max-width: 350px) {
	.navbar label input {width: 210px;}}


/******************************

				sidebar

*******************************/

.sidebar {
	position: fixed;
	margin-top: 26px;}
	.sidebar ul {font-weight: 300}
	.sidebar a{display: inline;}
	.sidebar li{
		display: inline-block;
		font-size: 13px;
		line-height: 1.65em;
		color: #606060;
		margin: 16px 0px;
		padding: 0 12px;
		translate: .5s}
	.sidebar .divline{
		left: 12px;
		border-bottom: 1px solid  #a7a7a7;
		width: 24px;}
	.sidebar .line{height: 50%;width: 5px;}
	.sidebar .active{font-weight: 500;}
	.sidebar .none .line{border:0px solid }

	.sidebar li:hover{
		color:#2FB0B3;
		font-weight: 400}
	.sidebar .active:hover{
			color:#606060;
			font-weight: 500}






/******************************

				footer

*******************************/

footer {

	height: 336px;
	width: 100%;
	background-color: #F4F4F4;}
footer .footer_container {
	max-width: 1920px;
	width: 80%;
	left: 50%;
	transform: translateX(-50%);}

footer .line {height: 40%;}

footer .textbox {
	margin-top: 74px;
	max-width: 350px;
	margin-right: 24px;}
	footer .textbox .p_box {padding: 20px;}
	footer .textbox .p_box p {
		color: #2FB0B3;
		font-size: 20px;
		font-weight: 400;
		z-index: 200;}
	footer .textbox .name p {
		text-align: right;
		color: #555;}
footer .linkbox {
	margin-top: 110px;
	left: 40%;
	transform: translateX(-50%);
	max-width: 400px;}
	footer .linkbox a {
		display: inline-block;
		color: #606060;
		font-size: 12px;
		padding: 4px 0;
		margin: 2px 0;}
	footer .linkbox a:hover {
		color: #333}
footer .iconbox {
	margin-top: 100px;
	max-width: 350px;}
	footer .iconbox .row {margin-left: -20px;}
	footer .iconbox img {
		opacity: .55;
		transition: 0.5s;}
	footer .iconbox img:hover {opacity: .88}
	footer .iconbox p {
		color: #808080;
		font-size: 10px}
@media only screen and (max-width: 1440px) {
	footer .footer_container {width: 93%;}
	footer .linkbox {left: 48%;}}
@media only screen and (max-width: 1024px) {
	footer {height: 600px;}
	footer .textbox,
	footer .linkbox,
	footer .iconbox {
		margin: 60px 0 12px 0;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;}
	footer .linkbox {max-width: 160px;}
		footer .linkbox .l {text-align: left;}
		footer .linkbox .r {text-align: right;}
	footer .iconbox .center {
		left: 51.5%;
		width: 60%;
		transform: translateX(-50%);}}