
iframe{
	box-shadow: 0px 2px 10px rgba(5, 5, 5, 0.1);
	border-radius: 4px;
}


.main_img{
	background-image: url("../picture/000/001.png");
	background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
}
.work09-1{
	position: absolute;
	top: 16px;
	left:16px; 
	height: 35px;
}


.page_main_img{
	background-repeat: no-repeat;
    background-position: center; 
    background-size:contain;
    height: 500px;
}


