/******************************
						slider
*******************************/

.owl-theme .owl-dots {
	position: absolute;
	left: 60px;
	bottom: 42px;}
	.owl-theme .owl-dots .owl-dot {
		border: 3px solid #808080;
		height: 12px;
		width: 12px;
		margin: 0 6px 0 6px;
		border-radius: 50%;
		outline: none;}
	.owl-theme .owl-dots .owl-dot:hover {
		background-color: #FFD064;
		border: 3px solid #FFD064;}
	.owl-theme .owl-dots .owl-dot.active {
		background-color: #2FB0B3;
		border: 3px solid #2FB0B3;}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
	position: absolute;
	width: 36px;
	height: 36px;
	top: -52px;
	outline: none;
	transition: .3s}

.owl-carousel .owl-nav button.owl-next {
	right: 20px;
	background-image: url('../picture/01_icon/arr_right.svg');}
.owl-carousel .owl-nav button.owl-prev {
	right: 68px;
	background-image: url('../picture/01_icon/arr_left.svg');}

.owl-carousel .owl-nav button.owl-next:hover {
	background-image: url('../picture/01_icon/arr_right_hover.svg');
}

.owl-carousel .owl-nav button.owl-prev:hover {
	background-image: url('../picture/01_icon/arr_left_hover.svg');
}

.slider_bule_bar {
	height: 5px;
	background-color: #2FB0B3;
}

.owl-theme a {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.owl-theme .textbox {
	color: #232626;
	position: absolute;
	padding: 24px 42px 42px 42px;
	max-width: 50%;
	left: 24px;
	bottom: 24px;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, .65);
	transition: .3s;
}

.owl-theme .textbox:hover {
	background-color: rgba(255, 255, 255, .88);
	color: #2FB0B3;
}



@media only screen and (max-width: 1200px) {
	.owl-theme .textbox {
		padding: 24px 48px 48px 48px;
		max-width: 80%;
		left: 10%;
		bottom: -45%;
		text-align: center;
	}

	.owl-carousel .owl-nav button.owl-next,
	.owl-carousel .owl-nav button.owl-prev {
		visibility: hidden;
	}

	.owl-theme .owl-dots {
		left: 50%;
		transform: translateX(-50%);
		bottom: 36px;
	}

	.slider_bule_bar {
		max-width: 80%;
		left: 10%;}}

@media only screen and (max-width: 600px) {
	.owl-theme .textbox {
		padding: 24px 48px 48px 48px;
		position: absolute;
		max-width: 100%;
		left: 0%;
		top: 222px;
		text-align: center;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+31,1+100 */
		/* FF3.6-15 */
		/* Chrome10-25,Safari5.1-6 */
		background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 31%, rgba(255, 255, 255, 1) 100%);
		background: -o-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 31%, rgba(255, 255, 255, 1) 100%);
		background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 31%, rgba(255, 255, 255, 1) 100%);
		/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
		/* IE6-9 */}
	.owl-carousel .owl-nav button.owl-next,
	.owl-carousel .owl-nav button.owl-prev {visibility: hidden;}
	.owl-theme .owl-dots {
		left: 50%;
		transform: translateX(-50%);
		bottom: 36px;}
	.slider_bule_bar {
		max-width: 100%;
		left: 50%;
		transform: translateX(-50%);
		width: 150px;
		bottom: 20px;}
	.owl-theme .textbox h2 {font-size: 25px;}
	.owl-theme .textbox p {font-size: 16px;}
	.imgbox-lg {margin-bottom: 164px;}}
@media only screen and (max-width: 500px) {
	.imgbox-lg {margin-bottom: 210px;}}
@media only screen and (max-width: 400px) {
	.imgbox-lg {
		margin-bottom: 240px;}}
@media only screen and (max-width: 350px) {
	.imgbox-lg {
		margin-bottom: 280px;}}


/* store- slider */

.stores{
	width: 100%;
	padding: 25px 46px;
	background-color: rgba(183, 194, 194,.1);}

.stores .owl-carousel .owl-nav button.owl-next,
.stores .owl-carousel .owl-nav button.owl-prev {
	top: 10px;}

@media only screen and (max-width: 1024px){
	.stores{margin-top: 16px;}}
@media only screen and (max-width: 618px){
	.stores{margin-top: 24px;}}
@media only screen and (max-width: 538px){
	.stores{margin-top: 32px;}}

@media only screen and (max-width: 448px){
	.stores{
		margin-top: 16px;
		width: 100%;
		padding: 0px;
		background-color: rgba(183, 194, 194,0);}}
@media only screen and (max-width: 400px){
	.stores{margin-top: 80px;}}
@media only screen and (max-width: 359px){
	.stores{margin-top: 20px;display: none}}
