
.arrange_list{
    position: absolute; right: 0;
}
.arrange_list p, .arrange_list select{
    display: inline-block;
    margin:  0 8px;}
.arrange_list select{
    padding:6px;
	border:1px solid #ddd ;
	border-radius: 4px;
    outline: none;}
    .arrange_list select option{
        display: inline-block;
        margin: 50px 0;
        padding: 100px;
        color: #606060;
        border: 0;}


.card_forum{
    background-color: rgba(183,183,194,.04);
    padding: 16px;
    margin: 20px 0;
    border-radius: 4px;
    opacity: .9;
    transition: .3s}
.card_forum p,
.card_forum .point,
.card_forum h3{
    display: inline-block;
    transition: .3s;
    font-size: 14px}
.card_forum h3{color: #075457;}
.card_forum h2{color: #333;font-size: 18px}
.card_forum .author,.card_forum .replyer{
    font-weight: 500;
    color: #606060;}
.card_forum .cont{
    margin-bottom: 32px;
    font-size: 13px;
    font-weight: 300;
    color: #808080;}
.card_forum .point{
    width: 15px;
    height: 15px;
    background-image: url(../picture/01_icon/point.svg);}
.card_forum p.date{
    font-weight: 400;
    font-size: 13px;}
.card_forum:hover{background-color: rgba(183,183,194,.15);opacity: 1;}
.card_forum h2:hover{color: #33B3C2;}
/* .card_forum p.author:hover{color: #33B3C2;} */
/* .card_forum p.replyer:hover{color: #33B3C2;} */

.card_forum.page{background-color: rgb(250, 250, 250);opacity: 1;}
.card_forum.page:hover{background-color: rgba(245, 245, 245, 1);opacity: 1;}
.card_forum.replybox{background-color: #fff;}
.card_forum.replybox:hover{background-color: #fff;}
.card_forum.page p{font-weight: 400}
.card_forum.page .author.reply,.card_forum.page .time{margin: 2px 0;font-weight: 500;}
.card_forum.page .time{
    font-size: 12px;
    color: #668B8D;
}
.card_forum.page img{margin: 12px 0}
.card_forum.replybox textarea{
    left: 2%;
    width: 100%;
    height: 60px;
    max-width: 94%;
    min-width: 94%;
    max-height: 200px;
    min-height: 55px;
}
.card_forum.page input{font-weight: 500}

.card_forum .imgbox{
    height: 48px;
    width: 48px;
    border-radius: 24px;
    margin: 0 0 16px 0;
}
.sidebar_h{
    color: #668B8D;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.25em;
    margin: 20px 0 0 0;}
    .sidebar_h.en{
        letter-spacing: 0.02em;
        font-size: 20px;}
.sidebar_h.re{margin: 20px 0;}


