
/*----------------------------------------------------Guildline*/

h1{
	font-family: 'Segoe UI','微軟正黑體';
	font-size: 32px;
    color: #555;
	letter-spacing:1.6px;
	line-height:48px;
	margin: 15px 0;	
	font-weight: 500;
	margin: 0;
}
h2{
	font-family: 'Segoe UI','微軟正黑體';
	font-size: 20px;
	font-weight: 500;
    color: #555;
	letter-spacing:2.4px;
	line-height:32px;
	margin: 24px 0;	
}
h3{
	font-family: 'Segoe UI','微軟正黑體';
	font-size: 17px;
	font-weight: 500;
    color: #555;
	letter-spacing:1.3px;
	line-height:32px;
	margin: 24px 0;	
}
p{
	font-size: 14px;
	color: #555;
	letter-spacing:0.8px ;
	line-height:25px;
	margin: 16px 0;	
}
.p--lineup{
	line-height:35px;
}

.btn{
	display: inline-block;
	padding: 10px 40px;
	font-size: 15px;
	font-family: 'Noto Sans TC Regular', sans-serif;
	color: #231d13;
	letter-spacing:4px ;
	border: 1px solid #231d13;
	border-radius: 3px;
	transition: all 0.5s;
}
.btn:hover{
	color: #fff;
	border: 1px solid #6e753d;
	background-color: #6e753d;
}