 @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

*{
	position: relative;
	box-sizing: border-box;	
}
body{
	font-family: 'Segoe UI','Lucida Grande';
	font-weight: 100;
}
a{
	text-decoration:none;
	color: #333;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

/*--------------------------------------------linkblock setup*/

.container{
	max-width: 1200px;
	height: 100%;/*--------------why 0px*/
	margin: 0px auto;/*----------why  0px*/
	padding: 0 8px;
}

.row{
	margin-left: -8px;
	margin-right: -8px;
}
.row:after{
	content: "";
	display: block;
	clear: both;
	height: 0px;
	visibility: hidden;
}
.col-1-1,.col-1-2,.col-1-3,.col-2-3,.col-1-4,.col-3-4,.col-1-5,.col-1-6,.col-5-6,.col-1-12,.col-7-12,.col-5-12,.col-11-12{
	float: left;
	padding: 0 8px;
}
.col-right{	
	float: left;
}
.col-1-1{
	width: 100%;
}
.col-1-2{
	width: 50%;
}
.col-1-3{
	width: 33.3333333%;
}
.col-2-3{
	width: 66.6666666%;
}
.col-1-4{
	width: 25%;
}
.col-3-4{
	width: 75%;
}
.col-1-5{
	width: 20%;
}
.col-1-6{
	width: 16.6666666%;
}
.col-5-6{
	width: 83.3333333%;
}
.col-1-12{
	width: 8.33333333%;
}
.col-7-12{
	width: 58.3333333%;
}
.col-5-12{
	width: 41.6666666%;
}
.col-11-12{
	width: 91.6666666%;
}

@media only screen and (max-width: 1200px) {
    .container { padding: 0 16px; max-width: 1024px; }
}

@media (max-width: 1024px) {
	/*.container { padding: 0 16px; max-width: 768px; }*/
	.col-md-right{	float: right;}
	.col-md-1-1{	width: 100%;}
	.col-md-1-2{	width: 50%;}
	.col-md-1-3{	width: 33.33333333%;}
	.col-md-2-3{	width: 66.6666666%;}
	.md-hidden{		visibility: hidden; height: 0;}
}
@media (max-width: 768px) {
	/*.container { padding: 0 16px; max-width: 480px; }*/
	.col-sm-right{	float: right;}
	.col-sm-1-1{	width: 100%;}
	.col-sm-1-2{	width: 50%;}
	.col-sm-1-3{	width: 33.33333333%;}
	.col-sm-2-3{	width: 66.6666666%;}
	.sm-hidden{		visibility: hidden; height: 0;}
}
@media (max-width: 480px) {
	.col-xs-right{	float: right;}
	.col-xs-1-1{	width: 100%;}
	.col-xs-1-2{	width: 50%;}
	.col-xs-1-3{	width: 33.33333333%;}
	.xs-hidden{		visibility: hidden; height: 0;}
}



/*----------------------------------------------------Modifier tool*/

.space64{	padding-top: 128px;}
.space32{	padding-top: 64px;}
.space16{	padding-top: 32px;}
.space8 {	padding-top: 16px;}
.space4 {	padding-top: 4px;}

.padding0{
	padding: 0px;
	margin: 0px;
}



.marginleft{	
	position: relative;
	left:50%;
	transform: translateX(-50%);
}
.marginright{	margin-right: 30px; }



.dashed {	border: 0.5px dashed #ddd;}
.box_bg {	height: 100px;  background-color: #888;}

.u-cf:after{
	content:"";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}





/*------------------------------------Picblock*/
.picblock{
	height: 360px;
	overflow:hidden;
	border-radius: 4px;
}
@media (max-width: 480px) {
.picblock{height: 240px;}
}

.picblockhov{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	z-index: 10;
	opacity: 0;
	transition: .5s;
	transform: scale(1);

}
.picblockhov:hover{
	opacity: .80;
	transform: scale(1.02);
}
.picblockhov_wordbox{
	margin: 10px;
	padding: 25px;
	height: 340px;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 4px;
}
.box_bg_black{
	background-color: rgba(0, 0, 0, .9);
}
.picblockhov_wordbox-1-2{
	margin: 10px 12px 10px 12px;
}
.picblockhov_wordbox-1-3{
	margin: 10px 15px;
}

.picblockhov_word{
	text-align:right;	
	position: absolute;
	bottom: 10px;
	right: 20px;
}
.picblock_h2{
	color: #333;
	letter-spacing:0px;
	line-height:0px;
	font-size: 35px;
	font-weight: 650;
}
.picblock_p_box{
	color: #333;
	font-size: 13px;
	font-weight: 400;
	margin: 5px;
	padding: 2px 8px 2px 8px;
	border: 1px solid #666;
	border-radius: 2px;
	display: inline-block;
}
.p_box--bold{
	font-weight: 700;
	border: 1px solid #444;
}
.picblockhov_word .lightshort{
	height: 240px;
}
.picblockhov_word .short{
	height: 180px;
}
.picblockhov_word .white{
	color: #fff;
}


/*---------------------------------------------------------content*/

