body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
}



.doormain_container {
    max-width: 1440px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.doormain_container * {
    box-sizing: border-box;
    transition: 1s;
}




.door_container {
    width: 100%;
    padding-top: 60%;
    transform-style: preserve-3d;
    perspective: 700px;
    margin: auto;
    position: relative;
    background-image: url("d_Landing_page_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.door_container .d_pep01 {
    position: absolute;
    top: 46%;
    left: 45%;
    width: 7%;
    transform: translate3d(0%, 0%, 600px)scale(0.32);
    /* animation-name: floating01; */
    animation-duration: 28s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes floating01 {
    0% {
        transform: translate3d(0%, 0%, 1100px);
        ;
    }

    50% {
        transform: translate3d(12%, -10%, 1100px);
    }

    100% {
        transform: translate3d(0%, 0%, 1100px);
        ;
    }
}




/******************************
******************************


		浮動框


******************************
*******************************/

:root {
    --door-w: 0.1%;
    --door-h: 0.28%;
    --door-s: 2px;
}


.an_box {
    position: absolute;
    transform-style: preserve-3d;
    /* animation-name: floating02; */
    /* animation-duration: 5s; */
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    width: var(--door-w);
    height: var(--door-h);
}



@keyframes floating02 {
    0% {
        transform: translate(0, 0) rotateX(0deg) rotateY(0deg);
        ;
    }

    50% {
        transform: translate(0, 3%) rotateX(4deg) rotateY(3deg);
    }

    100% {
        transform: translate(0, 0) rotateX(0deg) rotateY(0deg);
        ;
    }
}







/******************************
******************************


		門的樣式


 ******************************
*******************************/




.door_container .door {
    width: 10000%;
    height: 10000%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0px) rotateX(-20deg) rotateY(20deg);
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
}

.door_container .door .face,
.door_container .door:before,
.door_container a {
    border-radius: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: inherit;
    /* transition: 1.5s; */
}




/******************************

		門各層的樣式

*******************************/




/* Text */
.door_container .door .door_name {
    position: absolute;
    top: 104%;
    color: #fff;
    font-family: "Noto sans", "Microsoft JhengHei", "微軟正黑體", sans-serif;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 0.1em;
}

.door_container .door:hover>.door_name {
    font-size: 15px;
    top: 108%;
}



/* 門 */
.door_container .door .opener,
.door_container .door a {
    box-shadow: 0 0 50px inset #00ffff;
    width: 102%;
    height: 102%;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate3d(0%, 0%, 2px) rotateY(0deg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 8px;
    opacity: 0.75;
}





.door_container .door a {
    display: none;
    /* background-color: #cb131c; */
    transform: translate3d(1px, -50%, calc(var(--door-s)*1)) rotateY(0deg);
    opacity: 0;
}


/* 門正面、門框 */
.door_container .door .front {
    /* 門內 */
    background-color: #0008ff1f;
    box-shadow: 0 0 24px inset #043d6b;
    /* 內門框 */
    border: 2px solid #00f7ffb4;
    transform: translateZ(calc(var(--door-s)*0.5));
    overflow: hidden;
}

/* 門內Swirl */
.door_container .door .front::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 240%;
    height: 200%;
    background-image: url(sw001.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation-name: swirl;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: 0.1;

}

@keyframes swirl {
    0% {
        transform: rotate(0deg);
        ;
    }

    100% {
        transform: rotate(360deg);
        ;
    }
}







/************* 厚度 *****************/

.door_container .door .naka_0 {

    transform: translateZ(calc(var(--door-s)*0.375));
    box-shadow: 0 0 30px #00ffffa6;
}

.door_container .door .naka_1 {
    transform: translateZ(calc(var(--door-s)*0.25));
    box-shadow: 0 0 8px #0df5f5;
}



/*.door_container .door .naka_2 {
    transform: translateZ(calc(var(--door-s)*0.125));
}

.door_container .door .naka_3 {
    transform: translateZ(0);
}

.door_container .door .naka_4 {
    transform: rotateY(180deg) translateZ(calc(var(--door-s)*0.125));
}

.door_container .door .naka_5 {
    transform: rotateY(180deg) translateZ(calc(var(--door-s)*0.25));
}

.door_container .door .naka_6 {
    transform: rotateY(180deg) translateZ(calc(var(--door-s)*0.375));
} */

.door_container .door:before {
    content: '';
    /* background-color: #139dc7; */

    transform: rotateY(180deg) translateZ(calc(var(--door-s)*0.5));
    box-shadow: 0 0 18px #0df5f5;
}


/************* HOVER 眩光(包在厚度) *****************/

.door_container .p0 .door .naka_2 {
    content: "";
    width: 220%;
    height: 120%;
    /* background-color: #fff; */
    position: absolute;
    top: 10%;
    left: -42%;
    background-image: url("door_light.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation-name: Lighting01;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition: 1.5s;
    opacity: 0;
}

@keyframes Lighting01 {
    0% {
        transform: rotate(0) translate3d(0%, -30%, calc(var(--door-s)*0.9))
    }

    50% {
        transform: rotate(30deg) translate3d(-22%, -7%, calc(var(--door-s)*0.9));
    }

    100% {
        transform: rotate(0) translate3d(0%, -30%, calc(var(--door-s)*0.9));
        ;
    }
}

.door_container .p0 .door:hover>.naka_2 {
    opacity: 1;
    top: 9%;
    left: -44%;
}





.door_container .p0 .door .naka_1::after,
.door_container .p0 .door .naka_1::before {
    content: "";
    width: 5%;
    height: 3%;
    border-radius: 50%;
    border: 0px solid #00ffff;
    position: absolute;
    transition: 1s;
    opacity: 0.6;
}



.door_container .p0 .door .naka_1::before {
    transition: 1.5s;
}


.door_container .p0 .door:hover>.naka_1::before {
    border: 2px solid #00ffff;
    width: 275%;
    height: 165%;
    opacity: 0.1;
}

.door_container .p0 .door:hover>.naka_1::after {
    border: 2px solid #00ffff;
    width: 300%;
    height: 180%;
    opacity: 0.06;
}











/******************************

        門的互動樣式

*******************************/


.door_container .door .opener:hover {
    background-color: #464749;

}

.door_container .p0 .door a {
    display: inline-block;
}

.door_container .p0 .door .opener {
    opacity: 1;
}

.door_container .p0 .door:hover>.opener {
    transform: translate3d(100%, 0%, 40px) rotateY(60deg);
    /* right: -150%; */
    /* left: 200%; */
    opacity: 0.9;
    width: 60%;

}




.door_container .p0 .door:hover>a {
    /* transform: translate3d(46%, -47%, calc(var(--door-s)*23)) rotateY(60deg); */
}



/* 臨時 */
/* 臨時 */
/* 臨時 */
/* 臨時 */
/* 臨時 */
/* 臨時 */
/* 臨時 */
/* 臨時 */
/* 臨時 */
.door_container .p0 .door {
    transform: translate3d(-50%, -50%, 360px) rotateX(-100deg) rotateY(30deg) scale(0.5) !important;

}

/* 臨時 */
.door_container .p0 .door:hover {
    transform: translate3d(-50%, -50%, 360px) rotateX(-10deg) rotateY(30deg) scale(0.5);

}

.door_container .p0 .door:hover>.front::after {
    opacity: 0.6;
}

.door_container .p0 .door:hover>.naka_1 {
    box-shadow: 0 0 120px #0df5f5;
}



.door_container .door:hover>.naka_1 {
    box-shadow: 0 0 80px #0df5f5;
}






/******************************
******************************



		各位置參數 


******************************
*******************************/



.door_container .p0 {
    top: 49%;
    left: 50%;
}

.door_container .p0 .door {
    transform: translate3d(-50%, -50%, 410px) rotateX(0deg) rotateY(0deg) scale(0.55);
}



.door_container .p1 {
    top: 48%;
    left: 58%;
}

.door_container .p1 .door {
    transform: translate3d(-50%, -50%, 400px) rotateX(0deg) rotateY(15deg) scale(0.32);
}



.door_container .p2 {
    top: 40%;
    left: 70%;
}

.door_container .p2 .door {
    transform: translate3d(-50%, -50%, 250px) rotateX(5deg) rotateY(-60deg) scale(0.32);
    opacity: 0.9;
}



.door_container .p3 {
    top: 26%;
    left: 76%;

}

.door_container .p3 .door {
    transform: translate3d(-50%, -50%, 30px) rotateX(5deg) rotateY(-35deg) scale(0.32);
    opacity: 0.8;
}



.door_container .p4 {
    top: 13%;
    left: 44%;
}

.door_container .p4 .door {
    transform: translate3d(-50%, -50%, 30px) rotateX(-2deg) rotateY(2deg) scale(0.32);
    opacity: 0.8;
}



.door_container .p5 {
    top: 20%;
    left: 30%;
}

.door_container .p5 .door {
    transform: translate3d(-50%, -50%, 30px) rotateX(-5deg) rotateY(6deg) scale(0.32);
    opacity: 0.7;
}



.door_container .p6 {
    top: 48%;
    left: 42%;
}

.door_container .p6 .door {
    transform: translate3d(-50%, -50%, 400px) rotateX(0deg) rotateY(-15deg) scale(0.32);
    opacity: 0.9;
}


/* 
.door_container .p7 {
    top: 54%;
    left: 26%;
}


.door_container .p7 .door {
    transform: translate3d(-50%, -50%, 100px) rotateX(-10deg) rotateY(1deg) scale(0.32);
}

 */



/***************************************
******************************************



            Button



******************************************
*****************************************/



.doormain_container .door_btns {
    width: 95%;
    height: 25%;
    padding: 1% 28%;
    margin: 0 auto;
    position: absolute;
    bottom: 1.5%;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: #3141529a; */
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.doormain_container .door_btns>div {
    width: 24%;
    height: 48%;
    padding: 6px;

}

.doormain_container .door_btns .door_arr {
    background-color: #1ebcd1;
    width: 48px;
    height: 48px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 20px#0dd5f8;
    border: 1px solid #00ffff3b;
    opacity: 0.8;
}

.doormain_container .door_btns .door_arr.last {
    left: 23%;
}

.doormain_container .door_btns .door_arr.next {
    right: 23%;
}

.doormain_container .door_btns .door_btn {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: #025564cb;
    border: 1px solid #00ffff5d;
    opacity: 0.5;
    cursor: pointer;
    box-shadow: 0 0 20px#0dd5f8;
}

.doormain_container .door_btns .door_btn:hover,
.doormain_container .door_btns .door_arr:hover {
    opacity: 0.85;
    border: 1px solid #00ffffc0;
    box-shadow: 0 0 50px#0dd5f8;
}


@media (max-width: 768px) {
    .doormain_container .door_btns>div {
        width: 25%;
        height: 50%;
        padding: 6px;
    }
}

@media (max-width: 480px) {
    .doormain_container .door_btns>div {
        width: 50%;
        height: 100%;
        padding: 6px;
    }
}









/***************************************
******************************************



            Modifier tool



******************************************
*****************************************/
.mouse-link {
    cursor: pointer;
}

.hidden {
    display: none !important;
}